*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-color: blueviolet;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 40px;
    color: white;
    background-color:  green;
    padding: 15px;
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list{
    display: flex;
    list-style: none;
    column-gap: 30px;
}
.nav_link{
    color: mediumblue;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
}